body {
  background-color: #0D1217; 
  color: #DFE5EC; /* white text by default */
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  border-radius:4px;
  border: 1px solid #212D3B; /** Need to define width, style (solid) and color to be able to see the border*/
}

.btc-card {
  display: flex;
}

.btc-card .card-body{
  margin-left: -20px;
  margin-right: 20px;
}

.others-card {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.others-card > div { /** top, right, bottom, left*/
  margin-right: 20px;
}

.card-title {
  text-align: center;
  font-weight: 600;
}

.card-body {
  text-align: center;
}