body {
  font-family: Arial, sans-serif;
}

.page {
  margin-left: 500px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: #eef2f4;
  background-color: #145ce3;
  border-radius:4px;
}

.btc-card {
  display: flex;
}

.others-card {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.others-card > div { /** top, right, bottom, left*/
  margin-right: 20px;
}